---
layout: default
---

<div class="jumbotron">
  <h1>{{ site.data.config.title | escape }}</h1>

  <p>Ride Dallas.</p>
</div>

<div class="list-group">
  {% for post in site.posts %}
    <a href="{{ post.url | escape }}" class="list-group-item">
      <h2>
        {{ post.title | escape }}

        <small>
          {% if post.categories contains 'bikes' %}
            <i class="fa fa-bicycle"></i>
          {% elsif post.categories contains 'rides' %}
            <i class="fa fa-map-marker"></i>
          {% endif %}
        </small>
      </h2>

      <p>
        {% if post.categories contains 'rides' %}
          <mark>
            {{ post.date | date: '%Y-%m-%d' }}
          </mark>
        {% endif %}

        {{ post.content | split: '<!---->' | last | strip_html | strip_newlines | split: ' ' | join: ' ' | truncate: 200 }}
      </p>
    </a>
  {% endfor %}
</div>
