---
layout: default
---

<div class="jumbotron">
  <h1>{{ site.data.config.title | escape }}</h1>

  <p>Ride Dallas.</p>

  <a class="btn btn-primary btn-lg" href="https://www.facebook.com/fixed.touring" role="button">
    <i class="fa fa-facebook"></i> Fixed Touring
  </a>

  <a class="btn btn-info btn-lg" href="https://twitter.com/fixedtouring" role="button">
    <i class="fa fa-twitter"></i> Fixed Touring
  </a>
</div>

<div class="list-group">
  {% for post in site.posts %}
    <a href="{{ post.url | escape }}" class="list-group-item">
      <span class="badge">
        {% if post.categories contains 'bikes' %}
          <i class="fa fa-bicycle"></i>
        {% elsif post.categories contains 'rides' %}
          <i class="fa fa-map-marker"></i>
        {% endif %}
      </span>

      {{ post.title | escape }}
    </a>
  {% endfor %}
</div>
