<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <title>{{ site.data.config.title | escape }}</title>

    <link href="/static/images/favicon.ico" rel="shortcut icon">

    <link href="/sitemap.atom" rel="alternate" title="{{ site.data.config.title | escape }} (Atom)" type="application/atom+xml">
    <link href="/sitemap.rss" rel="alternate" title="{{ site.data.config.title | escape }} (RSS)" type="application/rss+xml">

    <link href="{{ site.data.config.url }}{% if page.url != '/' %}{{ page.url }}{% endif %}" rel="canonical">

    {% include apple.html %}
    {% include facebook.html %}
    {% include opengraph.html %}
    {% include twitter.html %}
    {% include windows.html %}
  </head>

  <body>
    <h1>{{ site.data.config.title | escape }}</h1>

    {{ content }}
  </body>
</html>
