<!doctype html>

<html lang="{{ site.data.config.lang | escape }}">
  <head>
    <meta charset="utf-8">

    <title>{{ site.data.config.title | escape }}</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/images/favicon.ico" rel="shortcut icon">

    <link href="/sitemap.atom" rel="alternate" title="{{ site.data.config.title | escape }} (Atom)" type="application/atom+xml">
    <link href="/sitemap.rss" rel="alternate" title="{{ site.data.config.title | escape }} (RSS)" type="application/rss+xml">

    <link href="{{ site.data.config.url | escape }}{% if page.url != '/' %}{{ page.url | escape }}{% endif %}" rel="canonical">

    {% include apple.html %}
    {% include facebook.html %}
    {% include opengraph.html %}
    {% include twitter.html %}
    {% include windows.html %}
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ site.data.config.url | escape }}">{{ site.data.config.title | escape }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.data.config.url | escape }}">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}

      <hr>

      <footer>
        <p>
          &#xa9; 2014 Fixed Touring
        </p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
